{#
vim: sts=2 ts=2 sw=2 et ai ft=jinja
#}

{# Define global formula attributes #}
{% if formula_path is not defined %}
{% set formula_path = salt["file.dirname"](salt["slsutil.findup"](tplfile, "defaults.yaml")) %}
{% endif %}
{% set formula_name = formula_path.split("/") | last %}

{#- Render defaults #}
{% set defaults_yaml = formula_path | path_join("defaults.yaml", use_posixpath=true) %}
{% set formula = salt["slsutil.renderer"]("salt://" ~ defaults_yaml, sls=defaults_yaml) %}

{#- Render osfamilymap overrides #}
{% set osfamilymap_yaml = formula_path | path_join("osfamilymap.yaml", use_posixpath=true) %}
{% set osfamilymap = salt["slsutil.renderer"]("salt://" ~ osfamilymap_yaml, sls=osfamilymap_yaml) if salt["slsutil.file_exists"](osfamilymap_yaml) else {} %}

{#- Render osfamilymap overrides #}
{% set osmap_yaml = formula_path | path_join("osmap.yaml", use_posixpath=true) %}
{% set osmap = salt["slsutil.renderer"]("salt://" ~ osmap_yaml, sls=osmap_yaml) if salt["slsutil.file_exists"](osmap_yaml) else {} %}

{# Merge the osfamilymap #}
{% set formula = salt["slsutil.merge"](formula, salt["grains.filter_by"](osfamilymap, grain="os_family") or {}) %}

{# Merge the osmap #}
{% set formula = salt["slsutil.merge"](formula, salt["grains.filter_by"](osmap, grain="os") or {}) %}

{# Merge pillars #}
{% set formula = salt["slsutil.merge"](formula, salt["pillar.get"](formula_path | replace("/", ":"), default={})) %}

{# Merge grains #}
{% set formula = salt["slsutil.merge"](formula, salt["grains.get"]("formula:" ~ formula_path | replace("/", ":"), default={})) %}

{# Set the formula built-in variables #}
{% do formula.update({
  "name": formula_name,
  "path": formula_path,
  "namespace": formula_path | replace("/", "."),
  "url": "salt://" ~ formula_path ~ "/",
}) %}
